<h1>Add a patient to $doctor.getName()</h1>

<form action="/patients" method="post">
  <input id="doctorId" name="doctorId" type="hidden" value="$doctor.getId()">

  <div class="form-group">
    <label for="name">Patient's Name</label>
    <input id="name" name="name" type="text">
    <label for="birthdate">Birthdate</label>
    <input id="birthdate" name="birthdate" type="number">
  </div>

  <button type="submit" class="btn btn-success">Add Patient</button>
</form>
