<h1>$doctor.getName() patients:</h1>

<ul>
  #foreach($patient in $doctor.getPatients())
   <li>$patient.getName()</li>
  #end
</ul>

<a href="/doctors/$doctor.getId()/patients/new">Add a new patient</a>
<a href="/doctors">All doctors</a>
