<p>Add a new Patient:</p>

<form action="/patients" method="post">
  <label for="name">Patient's Name</label>
  <input id="name" name="name" type="text">
  <label for="birthdate">Birthdate</label>
  <input id="birthdate" name="birthdate" type="number">

  <button type="submit" class="btn btn-default">Add Patient</button>
</form>
